infra/data/
pgdata/
kafkadata/
redpandadata/
*.db
*.sqlite

*.log
services/**/*.log
gateway/*.log
*-bin
gateway/gateway-bin
gateway/gateway
[a-zA-Z0-9]*-bin

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

__pycache__/
*.py[cod]

secrets.yaml
*.pem
*.key